<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="DICE Configuration View"
            icon="icons/sample.gif"
            category="org.dice.ui.views.category"
            class="uk.ic.dice.ide.co.ui.View"
            id="DICE-Configuration-IDE-View">
      </view>
   </extension>

</plugin>